body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
    margin: 0;
}

.header p {
    margin: 0;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.section h2 {
    color: #007BFF;
}

.section h3 {
    margin-top: 15px;
}

.section h4 {
    font-size: 0.9em;
    margin-top: 5px;
    margin-bottom: 15px;
}

.skills ul, .experience ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li, .experience ul li {
    margin-bottom: 10px;
}

.counter {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

